<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="areas(title,body)">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content='pavilan'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Tag  -->
    <title th:replace="${title}"></title>

    <!-- Favicon -->
    <link rel="icon" type="image/favicon.png" href="img/favicon.png">

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Bizwheel Plugins CSS -->

    <link rel="stylesheet" th:href="@{Website/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{Website/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{Website/css/cubeportfolio.min.css}">
    <link rel="stylesheet" th:href="@{Website/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{Website/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{Website/css/magnific-popup.min.css}">
    <link rel="stylesheet" th:href="@{Website/css/owl-carousel.min.css}">
    <link rel="stylesheet" th:href="@{Website/Css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{Website/css/style.css}">

    <!-- Bizwheel Stylesheet -->
    <link rel="stylesheet" th:href="@{/Website/Css/reset.css}">
    <link rel="stylesheet" th:href="@{/Website/Css/responsive.css}">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="bg">

<!-- Boxed Layout -->
<div id="page" class="site boxed-layout">

    <!-- Preloader -->
    <div  class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    <div th:replace="/fragment/Website/header.html::w-header"></div>
    <!--/ End Preloader -->
    <main th:replace="${body}">

    </main>
    <div th:replace="/fragment/Website/footer.html::w-footer"></div>



</div>

<!-- Jquery JS -->
<script th:src="@{/Website/js/jquery.min.js}"></script>
<script th:src="@{/Website/js/jquery-migrate-3.0.0.js}"></script>
<!-- Popper JS -->
<script th:src="@{/Website/js/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/Website/js/bootstrap.min.js}"></script>
<!-- Modernizr JS -->
<script th:src="@{/Website/js/modernizr.min.js}"></script>
<!-- ScrollUp JS -->
<script th:src="@{/Website/js/scrollup.js}"></script>
<!-- FacnyBox JS -->
<script th:src="@{/Website/js/jquery-fancybox.min.js}"></script>
<!-- Cube Portfolio JS -->
<script th:src="@{/Website/js/cubeportfolio.min.js}"></script>
<!-- Slick Nav JS -->
<script th:src="@{/Website/js/slicknav.min.js}"></script>
<!-- Slick Nav JS -->
<script th:src="@{/Website/js/slicknav.min.js}"></script>
<!-- Slick Slider JS -->
<script th:src="@{/Website/js/owl-carousel.min.js}"></script>
<!-- Easing JS -->
<script th:src="@{/Website/js/easing.js}"></script>
<!-- Magnipic Popup JS -->
<script th:src="@{/Website/js/magnific-popup.min.js}"></script>
<!-- Active JS -->
<script th:src="@{/Website/js/active.js}"></script>
</body>
</html>