<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{websites/layout.html::areas(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main>
        <input id="username" />
        <input id="password">
        <button onclick="login1()">Sign</button>
    </main>
    <script>

        async function login1(){
            let dataLogin = {
                username: document.getElementById("username").value,
                password: document.getElementById("password").value
            }
            await fetch('signin', {
                method: 'POST',
                body: dataLogin
            })
                .then(response => response.json())
                .then(out => {
                    console.log(out)
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>
</html>